# Variables de entorno (¡nunca subir!)
.env
.env.*
!.env.example

# Angular / Node
node_modules/
dist/
web/node_modules/
web/dist/

# .NET
target/
bin/
obj/
*.iml
.gradle/
api/target/
api/bin/
api/obj/

# Editor / sistema
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store

# Datos locales
data/